doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Strona główna
      |
      |
      a(href='/auctions') Lista przetargów
      |
      |
      a(href='/auctions-finished') Lista zakończonych przetargów
      |
      |
      a(href='/add-auction') Dodaj przetarg
    block content
