extends ../layout

block content
    h1= title
    form.px-5(method='post' action='/add-offer-to-db/'+auctionId)
        input(type='number' name='auction_id' hidden value=auctionId)
        div.mb-3
            label.form-label(for='contractor') Oferent
            input.form-control(type='text' id='contractor' name='contractor')
        div.mb-3
            label.form-label(for='offer_value') Oferowana cena
            input.form-control(type='number' id='offer_value' name='offer_value' min='0' max='99999999.99' step='0.01')
        input(type='submit' class='btn btn-primary' value='Dodaj ofertę przetargową')
