extends ../layout

block content
    h1= title
    form.px-5(method='post' action='/add-auction-to-db')
        div.mb-3
            label.form-label(for='auction_title') Nazwa przetargu
            input.form-control(type='text' id='auction_title' name='auction_title')
        div.mb-3
            label.form-label(for='offers_start') Czas rozpoczęcia przyjmowania ofert
            input.form-control(type='datetime-local' id='offers_start' name='offers_start')
        div.mb-3
            label.form-label(for='offers_stop') Czas zakończenia przyjmowania ofert
            input.form-control(type='datetime-local' id='offers_stop' name='offers_stop')
        div.mb-3
            textarea.form-control(name='description') Opis przetargu
        div.mb-3
            label.form-label(for='contracting_party') Instytucja zamawiająca
            input.form-control(type='text' id='contracting_party' name='contracting_party')
        div.mb-3
            label.form-label(for='max_value') Maksymalna zapłata za ofertę
            input.form-control(type='number' id='max_value' name='max_value' min='0' max='99999999.99' step='0.01')
        input(type='submit' class='btn btn-primary' value='Dodaj przetarg')
