extends ../layout

block content
    h1= title
    if data.length > 0
        table.table
            thead
                tr
                    th(scope='col') Nr
                    th(scope='col') Nazwa
                    th(scope='col') Stan
            tbody
            each val, index in data
                tr
                    td(scope='row')= index + 1
                    td: a(href='/auctions-finished/'+val.auction_id)= val.auction_title
                    td Przetarg zakończony
    else
        p Brak zakończonych przetargów
